{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:155}}
    {% else %}
        Welcome to Store where you can buys different items....
    {% endif %}
{% endblock %}
{%  block title %}
{% if category %}
        {{category.name}} - Store
    {% else %}
        See our New Collections - Store
    {% endif %}
{% endblock %}
{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a> </p>
        </div>

    </div>
</div>
{% endif %}
<div class="mx_auto">
    {% if category %}
         <img class="my_image" src="{{category.image.url}}"  style="width:1200px;" alt="{{category.name}}">
</div>
    <br>
<div>
            <h1 class="text-center my_title">{{category.name}}</h1>
            <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}

<br>
<div>
    <h1 class="text-center my_title">Our products Collections</h1>
    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for p in products_list.object_list %}
        <div class="my_bottom_margi col-9 col-sm-12 col-md-4  col-lg-4 " >
            <div class="card text-center " style="min-width:18em;">

            <a href="{{p.get_url}}"><img class="card-img-top my_image "src="{{p.image.url}}" alt="{{p.name}}"></a>
            <div class="card-body">
                <h4>{{p.name}}</h4>
                 <p>${{p.price}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products_list.paginator.num_pages > 1 %}

        <div class="text-center">
            {% for pg in products_list.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products_list.number == pg %} active {% endif %} ">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}<hr>

    </div>
    <br>
</div>
{% endblock %}




